/* BODY */
.ethan-booking {
    margin: 0;
    font-family: Arial, sans-serif;

    background-image: url("summer-image/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* book */
.book {
    text-align: center;
    padding-top: 30px;
    color: white;
}

.logo {
    width: 300px;
}

.book h2 {
    margin-top: 10px;
    font-weight: 400;
    font-weight: bolder;
    color: #ffffff;
}

/* BOOKING  */
.booking-1 {
    width: 700px;
    margin: 40px auto;
    padding: 25px;
    display: flex;
    gap: 20px;
    background: linear-gradient(to left, #1099e9, #ffffff);
    border-radius: 20px;
}

/* IMAGE */
.booking-img {
    width: 150px;
    height: 120px;
    border-radius: 15px;
    object-fit: cover;
}

/* INFO */
.booking-info {
    flex: 1;
}

/* TITLE ROW */
.title-row {
    display: flex;
    justify-content: space-between;
}

/* PRICE */
.price {
    text-align: right;
}

.price h4 {
    margin: 5px 0;
}

.discount {
    background: limegreen;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
}

.all {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 0;
    font-size: 14px;
}

/* BOOK BUTTON */
.book-btn {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(to right, #80ff00, #ff6a00);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.book-btn:hover {
    opacity: 0.9;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
    transform: translateY(-8px) scale(1.05);
}

/* PAYMENT */
.payment {
    width: 500px;
    margin: 20px auto;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
    border-radius: 20px;
}

.payment img {
    height: 40px;
}

/* PAYMENT CONTAINER */
.payment {
    width: 500px;
    margin: 20px auto;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(255, 255, 255);
    border-radius: 20px;
}


.wow {
    padding: 10px;
    border-radius: 12px;
    transition: 0.3s;
    cursor: pointer;
}

/* IMAGE */
.wow img {
    height: 40px;
}

.wow:hover {
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
    transform: translateY(-8px) scale(1.05);
}

/* Mobile phone iphone 17 16 15 14 everything  */
@media screen and (max-width: 768px) {

    .booking-1 {
        width: 90%;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .booking-img {
        width: 100%;
        height: 180px;
    }

    .title-row {
        flex-direction: column;
        gap: 10px;
    }

    .all {
        grid-template-columns: 1fr;
    }

    .payment {
        width: 90%;
        flex-wrap: wrap;
        gap: 10px;
    }

    .logo {
        width: 180px;
    }
}